elasticsearch>=7.10.1
PyYAML>=6.0.2
mistletoe>=1.4.0
tqdm>=4.67.1
pandas>=2.0.3
jupyter>=1.0.0
matplotlib>=3.7.5
seaborn>=0.13.2
scipy>=1.10.1
plotly>=5.24.1
shapely>=2.0.6
geopandas>=0.13.2

# test utils
coverage>=7.6.1
coveralls>=4.0.1

# for generate-doc tests
Sphinx>=7.1.2
sphinx-rtd-theme>=3.0.2
docutils>=0.20.1

# for pre-commit hook
pre-commit>=3.5.0
